---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { Image } from "astro:assets";


---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Yuta Tsutsumi </div>
    <div class="text-3xl py-3 font-bold"> FullStack Engineer</div>
    <div class="pt-2 pb-4">
      <text class="text-lg">
        私は徹底的にユーザー目線に立ちWEBアプリの開発によって多くの人に最適な課題解決を提供できるような、プロのエンジニアになりたい駆け出しのフロントエンドエンジニアです。
      </text>
    </div>
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Profile</div>
    </div>
  
    <div class="mb-10 text-justify">
      <b>堤 勇太</b>と申します。ユーザーの体験に直接かかわれる開発領域が自分には向いているのではと感じ、今年の５月頃から本格的に独学でWeb開発について学んできました。最近はフロントエンドを中心に開発しています。趣味はサッカーで小学一年から高校三年まで12年間続けてきました。高校では関東大会出場を果たしました。アルバイトは、12年間のサッカー経験を活かしてサッカーのコーチをしています。
    </div>
  
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Education</div>
    </div>
  
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="日本大学藤沢高等学校"
        subtitle="2019 to 2022 "
      />
      <TimeLineElement
        title="日本大学法学部法律学科"
        subtitle="2022 to 2026 "
      />
    </div>
  
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Experience</div>
    </div>
  
    <div class="time-line-container mb-10">
      <TimeLineElement
        title="Born in the Kanagawa（神奈川）, Japan."
        subtitle="2003年5月26日"
      >
        神奈川県横浜市で生まれ、育ちました。双子で生まれ、小さい頃は、公園でずっと遊んでいる活発な子供でした。
      </TimeLineElement>
      <TimeLineElement
        title="The High School Soccer Experience"
        subtitle="2019 to 2022"
      >
        高校として一年生のときに全国大会出場、私の代では、関東大会出場を果たしました。
      </TimeLineElement>
      <TimeLineElement
        title="The Beginning of My Programming Path"
        subtitle="From 2024年5月"
      >
      技術力を磨き続けたいという強い思いと、基本情報技術者試験の勉強を通じて、独学でプログラミング学習を始めました。
    </div>
  
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Images Gallery</div>
    </div>
  
    <div
    class="grid grid-cols-1 gap-2 p-2 pt-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    
        <div class="relative overflow-hidden rounded-lg border border-skin-hue/20 bg-skin-button-accent/20">
          
            <Image
              src="/Images Gallery1.jpg"
              format="jpg"
              alt="gallery"
              width={500}
              height={500}
              class="h-full w-full  "
            />
          </a>
        </div>
        <div class="relative overflow-hidden rounded-lg border border-skin-hue/20 bg-skin-button-accent/20">
          
            <Image
              src="/Images Gallery2.jpg"
              format="jpg"
              alt="gallery"
              width={500}
              height={500}
              class="h-full w-full "
            />
          </a>
        </div>
        <div class="relative overflow-hidden rounded-lg border border-skin-hue/20 bg-skin-button-accent/20">
          
            <Image
              src="/Images Gallery3.jpg"
              format="jpg"
              alt="gallery"
              width={500}
              height={500}
              class="h-full w-full "
            />
          </a>
        </div>
        <div class="relative overflow-hidden rounded-lg border border-skin-hue/20 bg-skin-button-accent/20">
          
            <Image
              src="/Images Gallery4.jpg"
              format="jpg"
              alt="gallery"
              width={500}
              height={500}
              class="h-full w-full "
            />
          </a>
        </div>
      
    
  </div>
  
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Skills</div>
    </div>
  
    <div class="flex flex-wrap space-x-4 space-y-4">
      <img class="size-12"  alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
      <img class="size-12"  alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
      
      <img class="size-12" alt="MUI" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/materialui/materialui-original.svg" />
          
      <img class="size-12" alt="tailwindcss" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" />
          
      <img class="size-12"  alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
          <img class="size-12"  alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
          
          <img class="size-12" alt="react" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" />
          
          <img class="size-12" alt="astro" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg" />
          
          
          <img class="size-12" alt="three.js" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/threejs/threejs-original-wordmark.svg" />
          
          <img class="size-12" alt="blender" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/blender/blender-original.svg" />         
          <img class="size-12" alt="node.js" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg" />
          
          <img class="size-12" alt="wordpress" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/wordpress/wordpress-plain.svg" />

          
          <img class="size-12" alt="python" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" />
          

          
          <img class="size-12" alt="firebase" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/firebase/firebase-original.svg" />
          
          <img class="size-12" alt="mongodb" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-plain-wordmark.svg" />          
          <img class="size-12" alt="postman" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original.svg" />
          
          <img class="size-12"  alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
  </div>

  
</BaseLayout>
